* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
  background-color: rgb(134, 134, 134);
} 