.Titulo {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 4em; 
  color: #2c3e50; 
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 0.1em; 
  background: linear-gradient(90deg, rgb(66, 64, 64) 0%, rgb(236, 233, 233) 100%);
  -webkit-background-clip: text;
  color: transparent; 
  margin: 0; 
  padding: 0; 
}

