.links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.links-container a {
    flex: 1 1 200px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: #343a40;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links-container a:hover {
    background-color: #495057;
}
